*{

margin:0;
padding:0;
box-sizing:border-box;

}



body{

font-family:Arial, Helvetica, sans-serif;

background:#f4f6f9;

color:#333;

min-height:100vh;

transition:.3s;

}



.app-container{

width:90%;

max-width:900px;

margin:40px auto;

background:white;

padding:30px;

border-radius:15px;

box-shadow:0 5px 20px rgba(0,0,0,.1);

}



header{

text-align:center;

}



header h1{

font-size:40px;

color:#2563eb;

}



header p{

margin:10px;

color:#666;

}



button{

cursor:pointer;

border:none;

border-radius:8px;

padding:10px 15px;

}



#themeToggle{

margin-top:15px;

background:#111827;

color:white;

}



.dashboard{

display:flex;

gap:15px;

margin:25px 0;

}



.stat-card{

flex:1;

background:#f8fafc;

padding:20px;

border-radius:12px;

text-align:center;

}



.stat-card p{

font-size:30px;

font-weight:bold;

color:#2563eb;

}



.task-form{

display:flex;

gap:10px;

margin-bottom:20px;

}



input,select{

padding:12px;

border-radius:8px;

border:1px solid #ddd;

}



#taskInput{

flex:1;

}



#addTask{

background:#2563eb;

color:white;

}



.search-section input{

width:100%;

margin-bottom:20px;

}



.filter-buttons{

display:flex;

gap:10px;

margin-bottom:20px;

flex-wrap:wrap;

}



.filter-buttons button{

background:#2563eb;

color:white;

}



#taskList{

list-style:none;

}



#taskList li{

display:flex;

justify-content:space-between;

align-items:center;

background:#f8fafc;

padding:20px;

margin-bottom:15px;

border-radius:15px;

border-left:6px solid #2563eb;

transition:.3s;

}



#taskList li:hover{

transform:translateY(-3px);

}



.task-details{

display:flex;

gap:10px;

margin-top:10px;

}



.priority{

padding:5px 12px;

border-radius:20px;

font-size:12px;

font-weight:bold;

}



.high{

background:#fee2e2;

color:#dc2626;

}



.medium{

background:#fef3c7;

color:#d97706;

}



.low{

background:#dcfce7;

color:#16a34a;

}



.edit-btn{

background:#16a34a;

color:white;

}



.delete-btn{

background:#dc2626;

color:white;

}



.completed h3{

text-decoration:line-through;

color:#9ca3af;

}



.empty-message{

text-align:center;

padding:30px;

}



body.dark{

background:#111827;

color:white;

}



body.dark .app-container{

background:#1f2937;

}



body.dark .stat-card,

body.dark #taskList li{

background:#374151;

}



body.dark input,

body.dark select{

background:#374151;

color:white;

}



body.dark #themeToggle{

background:#facc15;

color:black;

}



@media(max-width:700px){


.dashboard,
.task-form{

flex-direction:column;

}



#taskList li{

flex-direction:column;

gap:15px;

align-items:flex-start;

}


}
